* {
    margin: 0;
    padding: 2px;
}

.headerup {
    min-height: 70px;
    width: 100%;
    border: 1px solid black;
}


}
.slider {
    min-height: 400px;
    width: 100%;
}
.slider img {
    width: 100%;
    min-height: 400px;
}
.footer {
    min-height: 70px;
    width: 100%;
    border: 1px solid black;
    color: lightgray;
    background-color: black;
    overflow: hidden;
}
.footer h5 {
    text-align: center;
    margin: 50px;
}

/*headerup start*/
.logo {
    width: 20%;
    height: 60px;
    margin: 5px;
    float: left
}
.logo img {
    object-fit: cover;
}
.nav {
    width: 40%;
    min-height: 60px;
    float: right;
    margin-right: 15px;
}
.social_nav {
    width: 100%;
    height: 40px;
}
.fa:hover {
    opacity: 0.7;
}
.fa {
    padding: 5px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 10px;
    float: right
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-pinterest {
    background: #cb2027;
    color: white;
}
.fa-rss {
    background: #ff6600;
    color: white;
}
.language_nav {
    width: 30%;
    height: 20px;
    float: right;
}
.language_nav h5 {
    float: right;
    color: black;
}
.language_nav h5 a {
    color: inherit;
}

/*upper header done*/

/*menu bar start*/
.menu_bar {
    min-height: 50px;
    width: 100%;
    background-color: #282828;
    color: #FF9800;
    box-shadow: 0px 5px 11px #595959;
}
.menu_bar ul {
    list-style: none;
}
.menu_bar ul li {
    float: left;
    position: relative;
}
.menu_bar ul li a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 30px;
    font-weight: bold;
    transition: 1s;
}
.menu_bar ul li a:hover {
    background-color: #FF9800;
    color: #282828;
    transform: rotate(360deg) scale(1.1);
}
.menu_bar ul li ul {
    background-color: #282828;
    position: absolute;
    width: 215px;
    left: -99999999px;
}
.menu_bar ul li:hover ul {
    left: 0;
}
.menu_bar ul li ul li {
    float: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid orange;
}
.menu_bar ul li ul li:last-child {
    border-bottom: none;
}
.menu_bar ul li ul li a {
    padding: 18px 18px;
}

/*image gallery start*/
.img {
    min-height: 1100px;
    background-color: #282829;
}
.image_gallery {
    min-height: 500px;
    width: 90%;
    margin: 0 auto;
}
.single_image {
    width: 30%;
    min-height: 450px;
    border: 4.5px solid #FF9800;
    padding: 10px;
    box-sizing: border-box;
    margin: 1%;
    float: left;
}
.single_image image {
    width: 80%;
    margin: 10px auto;
}
.single_image .image img {
    width: 100%;
    height: 400px;
    transition: 1s;
}
.single_image .image:hover img {
    transform: scale(1.07);
}
.single_image .caption {
    background-color: #282828;
    color: #FF9800;
    text-align: center;
    padding: 5px;
    transition: 1s;
}
.single_image .caption p {
    color: aliceblue;
}
.single_image .caption h2 {
    color: inherit;
}
.single_image .caption h2:hover {
    background-color: #282829;
    color: aliceblue;
    transition: 1s;
}
.single_image .caption h2 a {
    color: inherit;
    text-decoration: none;
}